*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: black;

}

.logo{
    color: red;
    font-size: 2rem;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

.titulo{
    color: white;
    text-align: center;
    padding: 50px;
}

/* Clase Perfiles - Contenedor Principal */
.perfiles{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;

}
/* Clase perfil - items individuales */
.perfil{
    width: 150px;
    margin: 0px;
    text-align: center;
}

/* Clase Avatar */
.avatar{
    width: 150px;
    height: 150px;
    background-color: #333;
    margin-bottom: 10px; ;
    overflow: hidden;
    border-radius: 50%;
}

/* Clase para imagenes de perfil */
.avatar img{
    width: 100%;
    height: 100%;
    color: grey;
    margin-top: 10px;
}


/* Clase para nombres */
.perfil p{
    color: grey;
    font-size: 15px;
    margin-top: 1.2rem;
}

.agregar-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    text-decoration: none;
}

.mas{
    color: white;
    font-size: 5rem;
    line-height: 0.8;
}


.agregar-perfil:hover{
    background-color: #555;
}

a{
    text-decoration: none;
}